@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Roboto&display=swap');

body{
    margin:0;
    padding:0;
}
header{
    width:100%;
    height:130px;
    position: fixed;
    top:0;
}
.wrapper-one{
    width:100%;
    height:auto;
}
.wrapper-container{
    height:130px;
}
.header-img{
    padding:10px;
    float:left;
    height:90px;
    padding-top: 30px;
}
.header-nav{
    margin-right:280px;
    margin-left: auto;
    width:450px;
    float:right;
    margin-top: 35px;
    font-family: 'Roboto', sans-serif;

}
.header-nav ul{
    list-style-type: none;
    margin:0;
    padding:0px;
}
.header-nav li{
    display:inline;
    padding:10px;

}
.header-nav li a{
    text-decoration: none;
    color:black;
    font-size: 18px;

}
.header-para{
    float:right;
    color:#00C878;
    padding:15px;
    font-family: 'Roboto', sans-serif;
    margin-right: 2%;
}
/*
div,section,header {
    border:1px solid red;
}
div ul{ 
    border:1px solid black;
}
*/
section{
    padding:30px;
    height:auto;
    margin-top: 130px;
    background-color:white;
    overflow: auto;
}
.profile-img{
    float:left;
    
}
.general-info{
    height:auto;
    float:right;
    width:600px;
    transform:scale(0.7,0.7);
    margin-right:5%;
    margin-top: 35px;

}
.general-label{
  /* margin-left: 150px;*/
   /* margin-top: 80px;*/
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}
.general-label span{
    height: 54px;
    color: #0FBF61;
    background-color:rgb(236, 241, 236) ;
    padding:10px;
}
.general-info-header{
   /* margin-left: 150px;*/
    font-size: 60px;
    color:black;
    font-family: 'Playfair Display', serif;

}
.general-info-details{
    /*margin-left: 150px;*/
    font-size: 16px;
    color:black;
    font-family: 'Roboto', sans-serif;

}

.button1{
    height:80px;
    font-size: 25px;
    padding:0px 60px;
    border:1px solid ;
    border-radius: 4px;
    background-color:#0FBF61 ;
    text-decoration: none;
    color:white;
    font-family: 'Roboto', sans-serif;

}
.button2{
    height:80px;
    font-size: 25px;
    padding:0px 60px;
    border:1px solid black;
    border-radius: 4px;
    background-color:white ;
    text-decoration: none;
    color:black;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;

}

