@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
*{
    box-sizing: border-box;
}
body{
    padding:0px;
    margin:0px;
}
header{
    height:60px;
    position: fixed;
    top:0;
    background-color:#006C9D;
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 1;
}
.header-menu{
    float:right; 
    padding-top: 0px;
  
}
.menu-line{
    color: white;
}
.header-nav-container,.search{
    display:inline-block;
}
.header-nav-container ul{
    list-style-type: none;
 }
 .header-nav-container li{
     display:inline;
 }
 .header-nav-container li a{
     text-decoration: none;
     color:#151D41;
     font-size: 18px;
     color: white;
 }
 .section-one{
     width:100%;
     height:auto;
     background-color: #0098DA;
     padding-left:60px;
     padding-right:60px;
     top:60px;
     clear:both;
     position: relative;
     border: 1px solid red;
 }
 .section-one-container{
     width:1200px;
     margin:auto;
    padding-top: 70px;
     padding-bottom: 70px;
     border:1px solid red;
     overflow: hidden;
 }
 .section-one-info,.section-one-pic{
     width:50%;
     height:auto;
     float:left;
     border: 1px solid black;
 }
.section-one-pic{
    float:right;
    
}
h2,h4{
    font-size: 60px;
    color:white;
}
p{
    font-size: 18px;
    color:white;
}
.play-icon,.play-search{
    position: absolute;
}
.play-search{
    padding-left: 70px;
}
.section-two{
    width:100%;
    height:auto;
    background-color: #006C9D;
    padding-left:60px;
    padding-right:60px;
    clear:both;
    border:1px solid yellow;
    position: relative;
    top:60px;
}
.section-two-container{
    width:1200px;
    margin:auto;
    padding-bottom: 70px;
    border:1px solid red;
    overflow: hidden;
}
h4{
    font-size: 32px;
    text-align: center;
    color:#FFD940;
}
.services-heading{
    text-align: center;
}
.services-card-container{
    display:inline-block;
    box-sizing: border-box;
}
h6{
    font-size: 24px;
    text-align: center;
    color: black;
}
.cards-para{
    font-size: 20px;
    color:#0098DA;
}
.cards,.card-one,.card-last{
    text-align: center;
    float:left;
    border:1px solid red;
    width:22%;
    padding:15px;
    background-color: white;
    margin-left:2%;
    margin-right:2%;
}
.card-one{
    margin-left:0%;
}
.card-last{
    margin-right: 0%;
}
.card-link{
    font-size: 20px;
    color:#006C9D;
    margin-top: 0px;
    margin-bottom: 0px;
}
.dollar-circle{
    width:3%;
    height:6%;
    border-radius:50%;
    background-color:#FFD940;
    position: absolute;
}
